body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fef8eb;
  color: #7a7676;
}

header {
  background-color: #c4aaaa;
  color: #fef8eb;
  text-align: center;
  padding: 20px 0;
  position: relative;
  animation: fadeIn 2s ease-in-out;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: slideInFromTop 1s ease-in-out;
}

header .separator {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #fef8eb;
  margin: 10px auto;
  animation: growWidth 1s ease-in-out;
}

header .logo {
  margin-top: 20px;
  border-radius: 50%;
  animation: fadeIn 2s ease-in-out;
}

header .auth-links {
  position: absolute;
  top: 20px;
  right: 20px;
}

header .auth-links a {
  color: #fef8eb;
  text-decoration: none;
  margin-left: 15px;
  font-size: 1em;
  transition: color 0.3s;
}

header .auth-links a:hover {
  color: #817575;
}

nav {
  background-color: #817575;
  padding: 10px 0;
  animation: fadeIn 2s ease-in-out;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fef8eb;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
  animation: fadeIn 2s ease-in-out;
  padding: 10px 15px; /* Ajouté pour créer des encadrés */
  border: 2px solid #fef8eb; /* Ajouté pour créer des encadrés */
  border-radius: 5px; /* Ajouté pour arrondir les coins des encadrés */
}

nav ul li a:hover {
  color: #c4aaaa;
  border-color: #c4aaaa; /* Change la couleur de la bordure au survol */
}

.resume {
  padding: 40px 20px;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.resume h3 {
  font-size: 2em;
  margin-bottom: 20px;
  animation: slideInFromLeft 1s ease-in-out;
}

.resume p {
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  animation: slideInFromRight 1s ease-in-out;
}

footer {
  background-color: #817575;
  color: #fef8eb;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  animation: fadeIn 2s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes growWidth {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}
