body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ffffff;
  color: #c4aaaa;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: fadeIn 1s ease-in-out;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideInFromTop 1s ease-in-out;
}

header .separator {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #c4aaaa;
  margin: 10px auto;
  animation: growWidth 1s ease-in-out;
}

header .logo {
  margin-top: 20px;
  border-radius: 50%;
  animation: fadeIn 2s ease-in-out;
}

nav {
  background-color: #c4aaaa;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 15px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  animation: fadeIn 1s ease-in-out;
}

nav ul li a:hover {
  color: #c4aaaa;
  background-color: #ffffff;
  border-color: #c4aaaa;
}

.resume {
  padding: 40px 20px;
  text-align: center;
  flex: 1;
  animation: fadeIn 1s ease-in-out;
}

.resume h3 {
  font-size: 2em;
  margin-bottom: 20px;
  animation: slideInFromLeft 1s ease-in-out;
}

.resume p {
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  animation: slideInFromRight 1s ease-in-out;
}

footer {
  background-color: #c4aaaa;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

footer span {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #7a6767;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes growWidth {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}
