/* --------------- GLOBAL STYLES --------------- */
body {
    font-family: Cinzel;
    background-color: #E7C7B9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-top: 10px;
}

/* --------------- LOGO STYLES --------------- */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* --------------- SIGN IN / SIGN UP STYLES --------------- */
.auth-links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.auth-links a {
    padding: 12px 25px;
    border: 2px solid #BFA4A4;
    background-color: white;
    color: #BFA4A4;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-links a:hover {
    background-color: #BFA4A4;
    color: white;
}

/* --------------- NAVBAR STYLES --------------- */
nav {
    background-color: #BFA4A4;
    padding: 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: auto;
}

/* --------------- GLOBAL STYLES --------------- */
body {
    font-family: Cinzel;
    background-color: #E7C7B9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #E7C7B9;
}

header h1 {
    font-size: 30px;
    margin-top: 40px;
}

table {
    width: 85%;
}

/* --------------- NAVBAR STYLES --------------- */
nav {
    background-color: #BFA4A4;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    font-family: Verdana;
    color: black;
    font-size: 14px;
    margin: 0 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 16px;
    transition: background 0.3s ease;
}

nav a:hover {
    background-color: #3d3737;
    color: white;
}

#psearch {
    width: 75%;
}

/* --------------- FORMULAIRE STYLES --------------- */
section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background: #B69C9C;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.field {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #A88F8F;
}

.search-btn {
    padding: 10px;
    font-size: 20px;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.search-btn i {
    font-size: 20px;
}

#formulaire{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* --------------- FOOTER STYLES --------------- */
footer {
    background-color: #BFA4A4;
    height: auto;
    margin-top: auto;
    text-align: center;
}

footer nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 16px;
}

footer nav a:hover {
    color: #E7C7B9;
}

footer .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------- IMAGE GALLERY STYLES --------------- */
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 300px; 
    height: 150px;
}

.image-container .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 28px;
}

.image-container:hover .overlay {
    opacity: 1;
}

/* Appliquer un style à chaque ligne avec l'ID "line" */
#search-results tr#line {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    padding-bottom: 5px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    width: 90%;
    margin: 10px auto;
}

#search-results tr#line:hover {
    background-color: #A88F8F;
}

#search-results a.result-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

#search-results tr#line td img {
    border-radius: 8px;
    margin-right: 15px;
}

#search-results tr#line td {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-results tr#line td .country {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

#search-results tr#line td .activity {
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

#search-results tr#line td.price {
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 10px;
}

#search-results tr#line td.price .price-note {
    display: block;
    font-size: 0.8em;
    font-style: italic;
    color: #6e5e5e;
    margin-top: 5px;
    text-align: right;
}

#search-results a {
    text-decoration: none;
    color: black;
}

/* Conteneur parent des tableaux */
.table-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; /* Espace entre les colonnes */
    margin: 20px auto;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.table-best {
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Cinzel;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.table-best th {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.table-best td {
    padding: 10px;
    text-align: center;
}

.img-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #A88F8F;
    font-family: Verdana;
    color: white;
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.table-best img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.table-container a {
    text-decoration: none;
    color: black;
}

.table-best:hover {
    background-color: #BFA4A4;
}

@media (max-width: 768px) { /* Sur les petits écrans */
    .table-container {
        grid-template-columns: 1fr; /* Un seul tableau par ligne */
    }

    .table-best {
        width: 100%; /* Prend toute la largeur*/
    }
}

/*------------Styles spécifiques à la page detail-----------*/

.detail-page .container {
    max-width: 900px;
    width: 45%;
    padding: 5px;
}

.detail-page .voyage-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.detail-page .voyage-details .image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.detail-page .voyage-details .image img {
    max-width: 90%;
    height: 23em;
    width: 100em;
    object-fit: contain;
    margin-bottom: 20px;
}

.detail-page .voyage-details .details {
    flex: 1;
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.detail-page label {
    font-size: 18px;
    margin-top: 10px;
    display: block;
}

.detail-page input, .detail-page select {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 16px;
}

.detail-page button {
    width: 30%;
    padding: 15px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.detail-page .button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
}

.detail-page button:hover {
    background: #A88F8F;
}

.detail-page .hotel {
    display: center;
    margin-top: 60px;
}

.detail-page .hot {
    display: center;
    margin-top: 60px;
}

.detail-page .act {
    display: center;
    margin-top: 60px;
}

.detail-page .title {
    display: center;
    margin-top: 20px;
}

.detail-page .hotel-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.detail-page .hotel-item .hotel-info {
    flex: 1;
    text-align: center;
}

.detail-page .hotel-item .hotel-image img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;;
    margin-right: 10em;
}

.detail-page .back-btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.detail-page .back-btn:hover {
    background: #A88F8F;
}


/* --------------- MAP STYLES --------------- */
#map {
    width: 75%;
    height: 600px;
    margin-top: 20px;
}

/* --------------- SHOPPING STYLES --------------- */

.auth-cart-container {
    top: 20px; 
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.cart {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border: 2px solid #BFA4A4;
    background-color: white;
    color: #BFA4A4;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.cart a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.cart i {
    font-size: 24px;
    margin-right: 8px;
}

.cart-count {
    font-size: 18px;
    margin-left: 5px;
    color: #BFA4A4;
    transition: color 0.3s ease;
}

.cart:hover {
    background-color: #BFA4A4;
    color: white;
}

.cart:hover .cart-count {
    color: white;
}